
.root{green-primary: #2FA827}
.root{green-strong: #5DBB57}
.root{green-medium: #8ED08A}
.root{green-light: #C1E5BF}
.root{orange-primary:#F5842C}
.root{orange-strong:#F79C56}
.root{orange-medium:#F9BA89}
.root{orange-light:#FBD1B1}
.root{red-primary:#EE564A}
.root{red-strong:#EF6C62}
.root{silver-primary:#F0F0F0}
.root{border-primary: #707070}
.root{border-light: #CDCDCD}
.root{grey-primary: #D9D9D9}

.menu-background{
    -fx-background-color: green-light;
}

.white-background{
    -fx-background-color: white;
}

.silver-background{
    -fx-background-color: silver-primary;
}

.menu-item{
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-padding: 0.33em 0px 0.33em 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.menu-item-active,
.menu-item:pressed {
     -fx-background-color: green-primary;
     -fx-background-insets: 0;
     -fx-border-radius: 10px;
     -fx-background-radius: 10px;
     -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-padding: 0.33em 0px 0.33em 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 0, 0, 0, 0);
}

.menu-item:hover{
    -fx-background-color: green-strong;
    -fx-border-color: green-strong;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-padding: 0.33em 0px 0.33em 0px;
    -fx-background-insets: 0;
}

.menu-item-label{
    -fx-text-fill: black;
    -fx-font-family: "Assistant";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.product-title{
    -fx-text-fill: black;
    -fx-font-family: "Renogare";
    -fx-font-weight: bold;
}

.category-title{
    -fx-font-family: "Renogare";
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}

.wizard-title{
    -fx-font-family: "Renogare";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.product-card-title{
    -fx-font-family: "Assistant";
    -fx-font-weight: normal;
    -fx-font-size: 34px;
}

.sub-header {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: border-primary;
}

.title-white{
    -fx-text-fill: white;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
}
.title-black{
    -fx-text-fill: black;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
}
.sub-title-black{
    -fx-text-fill: black;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
}

.text-normal-large{
    -fx-font-size: 20px;
    -fx-font-family: "Assistant"
}

.text-normal-medium{
    -fx-font-size: 16px;
    -fx-font-family: "Assistant"
}
.text-normal-small{
    -fx-font-size: 14px;
    -fx-font-family: "Assistant"
}
.text-title-large{
    -fx-font-size: 36px;
    -fx-font-family: "Assistant"
}

.text-title-medium{
    -fx-font-size: 24px;
    -fx-font-family: "Assistant"
}

.text-title-small{
    -fx-font-size: 20px;
    -fx-font-family: "Assistant"
}

.transparent-button {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-font-family: "Assistant";
    -fx-font-size: 17px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
   /* -fx-border-radius: 30px;
    -fx-background-radius: 30px; */
}

.transparent-button:hover {
    -fx-cursor: hand;
    -fx-background-color: grey-primary;
    -fx-border-color: grey-primary

}

.green-button-active{
    -fx-background-color: green-primary;
    -fx-border-color: green-primary;
    -fx-border-width: 0,5px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-text-fill: white;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.green-button-inactive{
    -fx-background-color: green-strong;
    -fx-border-color: green-strong;
    -fx-border-width: 0,5px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-text-fill: white;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.orange-button-active{
    -fx-background-color: orange-primary;
    -fx-border-color: border-primary;
    -fx-border-width: 0,5px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.orange-button-active:hover{
    -fx-background-color: orange-strong;
    -fx-border-color: orange-strong;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.orange-button-active:pressed{
    -fx-background-color: orange-strong;
    -fx-border-color: orange-strong;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 0, 0, 0, 0);
}

.orange-button-active:disabled{
    -fx-border-color: border-primary;
    -fx-border-width: 0,5px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-text-fill: white;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-color: rgba(255,182,125,1);
}

.red-button{
    -fx-background-color: red-primary;
    -fx-border-color: red-primary;
    -fx-border-width: 0,5px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.red-button:hover {
    -fx-background-color: red-strong;
    -fx-border-color: red-strong;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-cursor: hand;
}
.red-button:pressed {
    -fx-background-color: red-strong;
    -fx-border-color: red-strong;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 0, 0, 0, 0);
    -fx-cursor: hand;
}


.buttongroup_green{
    -fx-background-color: green-light;
    -fx-border-color: green-primary;
    -fx-border-width: 1px;
    -fx-border-radius: 35px;
    -fx-background-radius: 20px;
    -fx-text-fill: black;
    -fx-font-family: "Assistant";
    -fx-font-size: 14px;
}

.addbutton_green {
    -fx-background-color: green-primary;
    -fx-border-color: green-primary;
    -fx-border-width: 1px;
    -fx-border-radius: 35px;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-family: "Assistant";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.addbutton_green:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.addbutton_green:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 0, 0, 0, 0);
}

.add-sub-button{
    -fx-background-color: green-primary;
    -fx-background-radius: 35px;
    -fx-text-fill: green-primary;
    -fx-min-width: 35px;
    -fx-min-height: 35px;
    -fx-max-width: 35px;
    -fx-max-height: 35px;
}
.add-sub-button:hover{
    -fx-background-color: green-primary;
    -fx-background-radius: 35px;
    -fx-text-fill: green-primary;
     -fx-min-width: 35px;
         -fx-min-height: 35px;
         -fx-max-width: 35px;
         -fx-max-height: 35px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.add-sub-button-cart{
    -fx-background-color: green-primary;
    -fx-background-radius: 24px;
    -fx-text-fill: green-primary;
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-max-width: 24px;
    -fx-max-height: 24px;
}
.add-sub-button-cart:hover{
    -fx-background-color: green-primary;
    -fx-background-radius: 24px;
    -fx-text-fill: green-primary;
     -fx-min-width: 24px;
         -fx-min-height: 24px;
         -fx-max-width: 24px;
         -fx-max-height: 24px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.product-list-item{
    -fx-background-color: white;
    -fx-border-color: border-light;
    -fx-border-width: 1px;
}

.product-card-item{
    -fx-background-color: white;
}

.green-button {
    -fx-border-color: green-primary;
    -fx-border-width: 2px;
}

#cart-header{
    -fx-background-color: green-primary;
    -fx-border-color:  border-primary;
    -fx-border-width: 1px;
}
#cart-sub-header{
    -fx-background-color: green-light;
}


.wizard-header{
    -fx-background-color: white;
    /*-fx-border-color: border-light;
    -fx-border-width: 1px;
    */

}
.wizard-icons-active{
    -fx-background-color: green-medium;
    -fx-background-radius: 50px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-border-color: green-primary;
    -fx-border-radius: 50px;
    -fx-border-width: 4px;
}
.wizard-icons-passive{
    -fx-background-color: grey-primary;
    -fx-background-radius: 50px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-border-color: grey-primary;
    -fx-border-radius: 50px;
    -fx-border-width: 4;
}


.wizard-line-passive{
    -fx-stroke: grey-primary;
    -fx-stroke-width: 7px;
    -fx-border-color: grey-primary;
}

.wizard-line-active{
    -fx-stroke: green-primary;
    -fx-stroke-width: 7px;
    -fx-border-color: grey-primary;
}

.wizard-text-inactive{
    -fx-opacity: 0.3;
}

.wizard-back-button {
    -fx-border-color: orange-primary;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: orange-primary;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-end-margin: 10px;
    -fx-start-margin: 10px;
    -fx-text-fill: orange-primary;
}
.wizard-back-button:hover {
    -fx-border-color: orange-primary;
    -fx-background-color: rgba(245,225,202,1);
    -fx-background-insets: 0;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: orange-primary;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-end-margin: 10px;
    -fx-start-margin: 10px;
    -fx-text-fill: orange-primary;
}

#dateGridPane .toggle-button {
    -fx-border-color: black;
    -fx-background-color: green-light;
    -fx-border-width: 1px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 0, 0, 0, 0);
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-end-margin: 10px;
    -fx-start-margin: 10px;
    -fx-text-fill: black;
}

#dateGridPane .toggle-button:hover {
    -fx-background-color: green-strong;
    -fx-cursor: hand;
}

#dateGridPane .toggle-button:focused,
#dateGridPane .toggle-button:pressed {
    -fx-background-color: green-primary;
    -fx-text-fill: white;
}


.sub-menu-inactive,
#searchBar .button {
    -fx-border-color: orange-primary;
    -fx-background-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 10, 0, 0, 0);
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 16px;
    -fx-end-margin: 10px;
    -fx-start-margin: 10px;
    -fx-text-fill: black;
}

.small-orange-button {
    -fx-border-color: orange-primary;
    -fx-background-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-text-fill: orange-primary;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-end-margin: 10px;
    -fx-start-margin: 10px;
    -fx-text-fill: black;
}

.small-orange-button-active {
    -fx-border-color: orange-primary;
    -fx-background-color: orange-medium;
    -fx-border-width: 3px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-end-margin: 10px;
    -fx-start-margin: 10px;
    -fx-text-fill: black;
}

.sub-menu-active {
    -fx-border-color: orange-primary;
    -fx-border-width: 3px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 16px;
    -fx-end-margin: 10px;
    -fx-start-margin: 10px;
    -fx-text-fill: black;
    -fx-background-color: orange-medium;
}

#subMenu .button:pressed,
#subMenu .button:hover,
#subMenu .button:focused,
#searchBar .button:hover,
#searchBar .button:pressed {
    -fx-background-color: orange-medium;
}

#searchBar .text-field {
    -fx-border-color: orange-primary;
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#searchBar .text-field:focused {
    -fx-border-width: 3px;
}

#cartItem .add-sub-button{
    -fx-background-color: green-primary;
    -fx-background-radius: 20px;
    -fx-text-fill: green-primary;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
}

#cartItem .add-sub-button:hover{
    -fx-background-color: green-primary;
    -fx-background-radius: 20px;
    -fx-text-fill: green-primary;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

/* Scrollbar styling */
.increment-button ,
.decrement-button {
    -fx-padding: 7px;
}

.receipts-header {
    -fx-background-color: green-light;
    -fx-border-width: 0 0 4 0;
    -fx-border-color: silver-primary;
}
/*
.receipts-header:hover {
    -fx-cursor: hand;
    -fx-background-color: green-light;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}*/
/*
.receipts-header:pressed {
    -fx-cursor: hand;
    -fx-background-color: green-light;
}*/

#receipts .titled-pane > .title {
    -fx-background-color: white;
}

#receipts .titled-pane:hover > .title {
    -fx-cursor: hand;
    -fx-background-color: green-light;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#receipts .titled-pane:expanded > .title {
    -fx-background-color: green-light;
    -fx-font-weight: bold;
}

#receipts .titled-pane > .title > .arrow-button .arrow
{
    -fx-shape: "0 0 0 0 0 0 0 0 0";
}

.form-outgrey .text-field{
    -fx-border-color: grey-primary;
    -fx-text-fill: grey-primary;
}
.form-outgrey .label{
    -fx-text-fill: grey-primary;
}
.form-outgrey{
     -fx-border-color: grey-primary;
     -fx-text-fill: grey-primary;
 }

.incorrect-format {
    -fx-border-color: red-primary;
    -fx-border-width: 2px;
}

.green-border {
    -fx-border-color: green-primary;
    -fx-border-width: 2px;
}
.help_button{
        -fx-background-color: white;
        -fx-background-insets: 0;
        -fx-border-radius: 5px;
        -fx-background-radius: 5px;
        -fx-font-weight: bold;
        -fx-padding: 0.33em 0px 0.33em 0px;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
        -fx-min-width: 70px;
        -fx-min-height: 70px;
        -fx-max-width: 70px;
        -fx-max-height: 70px;
}
.help_button:hover{
        -fx-background-color: green-light;
        -fx-background-insets: 0;
        -fx-border-radius: 5px;
        -fx-background-radius: 5px;
        -fx-font-weight: bold;
        -fx-padding: 0.33em 0px 0.33em 0px;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.dialog-pane {
    -fx-background-color: red-strong;
}

.dialog-pane .label {
    -fx-font-family: "Assistant";
}

.dialog-pane .header-panel {
    -fx-background-color: red-strong;
}

.dialog-pane .button {
    -fx-border-color: orange-primary;
    -fx-background-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-text-fill: orange-primary;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-end-margin: 10px;
    -fx-start-margin: 10px;
    -fx-text-fill: black;
}

.dialog-pane > .content {
    -fx-background-color: red-strong;
}
.help-orange-button{
    -fx-background-color: orange-primary;
    -fx-border-color: border-primary;
    -fx-border-width: 0,5px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-text-fill: white;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
.help-green-button{
    -fx-background-color: green-primary;
    -fx-border-color: green-primary;
    -fx-border-width: 0,5px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-text-fill: white;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
.help-add-sub-button{
     -fx-background-color: green-primary;
     -fx-background-radius: 30px;
     -fx-text-fill: green-primary;
     -fx-min-width: 30px;
     -fx-min-height: 30px;
     -fx-max-width: 30px;
     -fx-max-height: 30px;
}
.lightbox-background{
    -fx-background-color: rgba(0,0,0,0.5);
}
.yes-no-button {
    -fx-border-color: orange-primary;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 8, 0, 0, 0);
    -fx-text-fill: orange-primary;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-end-margin: 10px;
    -fx-start-margin: 10px;
    -fx-text-fill: orange-primary;
}
.yes-no-button:hover {
    -fx-border-color: orange-primary;
    -fx-background-color: rgba(245,225,202,1);
    -fx-background-insets: 0;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 8, 0, 0, 0);
    -fx-text-fill: orange-primary;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-end-margin: 10px;
    -fx-start-margin: 10px;
    -fx-text-fill: orange-primary;
}

.radio-button:selected > .radio {
    -fx-background-color : green-strong ;
}

.radio-button:selected > .radio > .dot {
    -fx-background-color : white ;
}