
.root{green-primary: #2FA827}
.root{green-strong: #5DBB57}
.root{green-medium: #8ED08A}
.root{green-light: #C1E5BF}
.root{orange-primary:#F5842C}
.root{orange-strong:#F79C56}
.root{orange-medium:#F9BA89}
.root{orange-light:#FBD1B1}
.root{red-primary:#EE564A}
.root{silver-primary:#F0F0F0}
.root{border-primary: #707070}
.root{border-light: #CDCDCD}
.root{grey-primary: #D9D9D9}

.menu-background{
    -fx-background-color: green-light;
}

.white-background{
    -fx-background-color: white;
}

.silver-background{
    -fx-background-color: silver-primary;
}

.menu-item{
    -fx-background-color: white;
    -fx-border-color: border-primary;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.menu-item:pressed,
.menu-item:focused {
     -fx-background-color: green-primary;
     -fx-border-color: green-primary;
     -fx-border-radius: 10px;
     -fx-background-radius: 10px;
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 0, 0, 0, 0);
}

.menu-item:hover{
    -fx-background-color: green-primary;
    -fx-border-color: green-primary;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.menu-item-label{
    -fx-text-fill: black;
    -fx-font-family: "Assistant";
    -fx-font-size: 20px;
}

.product-title{
    -fx-text-fill: black;
    -fx-font-family: "Renogare";
    -fx-font-weight: bold;
}

.category-title{
    -fx-font-family: "Renogare";
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}
.product-card-title{
    -fx-font-family: "Assistant";
    -fx-font-weight: normal;
    -fx-font-size: 34px;
}

.sub-header {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: border-primary;
}

.title-white{
    -fx-text-fill: white;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
}
.title-black{
    -fx-text-fill: black;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
}
.sub-title-black{
    -fx-text-fill: black;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
}

.text-normal-large{
    -fx-font-size: 20px;
    -fx-font-family: "Assistant"
}

.text-normal-medium{
    -fx-font-size: 16px;
    -fx-font-family: "Assistant"
}
.text-normal-small{
    -fx-font-size: 14px;
    -fx-font-family: "Assistant"
}
.text-title-large{
    -fx-font-size: 40px;
    -fx-font-family: "Assistant"
}

.text-title-medium{
    -fx-font-size: 28px;
    -fx-font-family: "Assistant"
}

.text-title-small{
    -fx-font-size: 24px;
    -fx-font-family: "Assistant"
}

.orange-button-active{
    -fx-background-color: orange-primary;
    -fx-border-color: border-primary;
    -fx-border-width: 0,5px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.orange-button-passive{
    -fx-background-color: orange-light;
    -fx-border-color: border-primary;
    -fx-border-width: 0,5px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-text-fill: white;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.buttongroup_green{
    -fx-background-color: green-light;
    -fx-border-color: green-primary;
    -fx-border-width: 1px;
    -fx-border-radius: 35px;
    -fx-background-radius: 20px;
    -fx-text-fill: black;
    -fx-font-family: "Assistant";
    -fx-font-size: 14px;
}
.add-sub-button{
    -fx-background-color: green-primary;
    -fx-background-radius: 35px;
    -fx-text-fill: green-primary;
    -fx-min-width: 35px;
    -fx-min-height: 35px;
    -fx-max-width: 35px;
    -fx-max-height: 35px;
}
.add-sub-button:hover{
    -fx-background-color: green-primary;
    -fx-background-radius: 35px;
    -fx-text-fill: green-primary;
     -fx-min-width: 35px;
         -fx-min-height: 35px;
         -fx-max-width: 35px;
         -fx-max-height: 35px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.product-list-item{
    -fx-background-color: white;
    -fx-border-color: border-light;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.product-card-item{
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 3);
}
#cart-header{
    -fx-background-color: green-primary;
    -fx-border-color:  border-primary;
    -fx-border-width: 1px;
}
#cart-sub-header{
    -fx-background-color: green-light;
}
.wizard-header{
    -fx-background-color: white;
    -fx-border-color: border-light;
    -fx-border-width: 1px;
}
.wizard-icons-active{
    -fx-fill: green-medium;
    -fx-stroke: green-primary;
    -fx-stroke-width: 3px;
}
.wizard-icons-passive{
    -fx-fill: grey-primary;
    -fx-stroke: grey-primary;
    -fx-stroke-width: 3px;
}

.wizard-line-passive{
    -fx-fill: grey-primary;
    -fx-stroke-width: 10px;
}

#subMenu .button,
#searchBar .button {
    -fx-border-color: orange-primary;
    -fx-background-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 10, 0, 0, 0);
    -fx-text-fill: orange-primary;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-end-margin: 10px;
    -fx-start-margin: 10px;
    -fx-text-fill: black;
}

#subMenu .button:pressed,
#subMenu .button:hover,
#subMenu .button:focused,
#searchBar .button:hover,
#searchBar .button:pressed {
    -fx-background-color: orange-medium;
}

#searchBar .text-field {
    -fx-border-color: orange-primary;
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#searchBar .text-field:focused {
    -fx-border-width: 3px;
}




